body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  margin: 20px auto 0 auto;
  font-size: 6.25rem;
  /* 100% = 100/16px = 6.25em         -------- 16px = 100% = 1em -------- para achar a % divide a % desejada por 16 que eh 1 px para achar o valor em EM ou REM*/
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 40px auto 40px auto;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  margin-top: 5px;
  margin-bottom: 0px;
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #11999E;
  border-width: 5px;
  width: 3%;
  margin: 50px auto 50px auto;
}
.p-intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 60px;
}

.middle-container{
  padding-top: 60px;
  padding-bottom: 60px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}


.p-footer{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.pic-profile {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}


.skill-row{
 width: 50%;
 margin: 70px auto 70px auto;
 text-align: left;
}

.skill-row-1{
  width: 50%;
  margin: 150px auto 150px auto;
  text-align: left;
}


.computer{
  width: 20%;
  float: left;  /* clear: left; */
  margin-right: 30px;
}

.chillies {
  width: 20%;
  float: right; /*clear: right;*/
  margin-left: 30px;
}


.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
